<template>
  <v-layout row fill-height>
    <v-flex xs4>
      <v-card flat>
        <v-list three-line>
          <template v-for="(email, index) in emails">
            <v-list-tile :key="email.id" @click="showMessage()">
              <v-list-tile-content>
                <div class="body-2">{{ email.from }}</div>
                <div class="body-1">{{ email.subject }}</div>
                <div class="caption">{{ email.snippet }}</div>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon small color="grey lighten-2">delete</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider v-if="index !== emails.length" :key="index"></v-divider>
          </template>
        </v-list>
      </v-card>
    </v-flex>
    <v-flex xs8>
      <v-card height="100%">Email Display here</v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["emails"])
  },
  created() {
    this.$store.dispatch("init");
  },
  methods: {
    showMessage() {
      // enable message display
    }
  }
};
</script>

<style></style>
