<template>
  <v-app class="white">
    <v-toolbar app clipped-left>
      <v-avatar tile size="32px">
        <img src="/iconfinder_Email_256x256-32_172180.png" />
      </v-avatar>
      <v-toolbar-title>MailRiot</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        name="name"
        id="searchbox"
        placeholder="Search"
        append-icon="search"
        box
        pt-2
      ></v-text-field>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-navigation-drawer app clipped>
      <v-toolbar flat class="transparent">
        <v-btn color="primary">
          <v-icon>edit</v-icon>
          <span>Compose</span>
        </v-btn>
      </v-toolbar>
      <v-list dense class="pt-0">
        <v-list-tile
          v-for="item in items"
          :key="item.id"
          @click="showMessage(item.id)"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <HelloWorld />
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",
  components: {
    HelloWorld
  },
  data() {
    return {
      items: [
        { icon: "inbox", title: "Inbox" },
        { icon: "star", title: "Starred" },
        { icon: "email", title: "Sent" },
        { icon: "folder", title: "Folders" }
      ],
      emails: []
    };
  }
};
</script>
